<?xml version='1.0' encoding='utf-8'?>
<StoryPoints>
   <STP>
       <STPid>STP1</STPid>
       <eventName>Main Quest</eventName>
       <predecessor>NULL</predecessor>
       <preconditions>
            <duration>8:0:00</duration>
            <experience>10000</experience>
            <gold>2500</gold>
            <locations>Map1, 2, 8</locations>
            <enemies>ENMID42</enemies>
            <NPCinteraction>NPCID24</NPCinteraction>
            <Tile>Map2,4,2</Tile>
            <ItemAquired>ItemID39</ItemAquired>
            <MapInteraction>Map2,9,1</MapInteraction>
            <ProxObject>Map3,2,1</ProxObject>
            <ProxLocation>Map3,2,1</ProxObject>
       </preconditions>
       <prefunctions>
            <Teleport>NULL</Teleport>
            <Journal>NULL</Journal>
            <Cutscene>NULL</Cutscene>
            <PlaySound>NULL</PlaySound>
            <ChangeSoundtrack>NULL</ChangeSoundtrack>
            <StatusMod>NULL</StatusMod>
       </prefunctions>
       <questtype type="find">Item32</questtype>
       <Status>inactive</Status>
       <Trigger type="find">ItemID4</Trigger>
       <Rewards>
            <gold>100</gold>
            <xp>500</xp>
            <item>ItemID55</item>
            
       </Rewards>
       <Victory>
            <duration>6:0:0</duration>
            <experience>1250</experience>
            <gold>50</gold>
            <locations>NULL</locations>
            <enemies>NULL</enemies>
            <NPCinteraction>NULL</NPCinteraction>
            <Tile>NULL</Tile>
            <ItemAquired>NULL</ItemAquired>
            <MapInteraction>NULL</MapInteraction>
            <ProxObject>NULL</ProxObject>
            <ProxLocation>NULL</ProxObject>
       </Victory>
       <Cancel>
            <duration>NULL</duration>
            <experience>NULL</experience>
            <gold>NULL</gold>
            <locations>NULL</locations>
            <enemies>NULL</enemies>
            <NPCinteraction>NULL</NPCinteraction>
            <Tile>NULL</Tile>
            <ItemAquired>NULL</ItemAquired>
            <MapInteraction>NULL</MapInteraction>
            <ProxObject>NULL</ProxObject>
            <ProxLocation>NULL</ProxObject>       
       </Cancel>
       <postfunctions>
            <Teleport>NULL</Teleport>
            <Journal>NULL</Journal>
            <Cutscene>NULL</Cutscene>
            <PlaySound>NULL</PlaySound>
            <ChangeSoundtrack>NULL</ChangeSoundtrack>
            <StatusMod>NULL</StatusMod>
       </postfunctions>
   </STP>
   <STP>

       <STPid>STP2</STPid>
       <eventName>middle quest</eventName>
       <predecessor>STP1</predecessor>
       <preconditions>
            <duration status="disabled">NULL</duration>
            <experience>NULL</experience>
            <gold>NULL</gold>
            <locations>NULL</locations>
            <enemies>NULL</enemies>
            <NPCinteraction>NULL</NPCinteraction>
            <Tile>NULL</Tile>
            <ItemAquired>NULL</ItemAquired>
            <MapInteraction>NULL</MapInteraction>
            <ProxObject>NULL</ProxObject>
            <ProxLocation>NULL</ProxObject>
       </preconditions>
       <prefunctions>
            <Teleport>NULL</Teleport>
            <Journal>NULL</Journal>
            <Cutscene>NULL</Cutscene>
            <PlaySound>NULL</PlaySound>
            <ChangeSoundtrack>NULL</ChangeSoundtrack>
            <StatusMod>NULL</StatusMod>
       </prefunctions>
       <questtype type="kill">Enemy32</questtype>
       <Status>inactive</Status>
       <Trigger type="kill">EnemyID3</Trigger>
       <Rewards>
            <gold>NULL</gold>
            <xp>NULL</xp>
            <item>NULL</item>
            <skill>NULL</skill>
       </Rewards>
       <Victory>
            <duration>NULL</duration>
            <experience>NULL</experience>
            <gold>NULL</gold>
            <locations>NULL</locations>
            <enemies>NULL</enemies>
            <NPCinteraction>NULL</NPCinteraction>
            <Tile>NULL</Tile>
            <ItemAquired>NULL</ItemAquired>
            <MapInteraction>NULL</MapInteraction>
            <ProxObject>NULL</ProxObject>
            <ProxLocation>NULL</ProxObject>
       </Victory>
       <Cancel>
            <duration>NULL</duration>
            <experience>NULL</experience>
            <gold>NULL</gold>
            <locations>NULL</locations>
            <enemies>NULL</enemies>
            <NPCinteraction>NULL</NPCinteraction>
            <Tile>NULL</Tile>
            <ItemAquired>NULL</ItemAquired>
            <MapInteraction>NULL</MapInteraction>
            <ProxObject>NULL</ProxObject>
            <ProxLocation>NULL</ProxObject>       
       </Cancel>
       <postfunctions>
            <Teleport>NULL</Teleport>
            <Journal>NULL</Journal>
            <Cutscene>NULL</Cutscene>
            <PlaySound>NULL</PlaySound>
            <ChangeSoundtrack>NULL</ChangeSoundtrack>
            <StatusMod>NULL</StatusMod>
       </postfunctions>
   </STP>
   <STP>
       <STPid>STP3</STPid>
       <eventName>Final Quest</eventName>
       <predecessor>STP2</predecessor>
       <preconditions>
            <duration status="disabled">NULL</duration>
            <experience>NULL</experience>
            <gold>NULL</gold>
            <locations>NULL</locations>
            <enemies>NULL</enemies>
            <NPCinteraction>NULL</NPCinteraction>
            <Tile>NULL</Tile>
            <ItemAquired>NULL</ItemAquired>
            <MapInteraction>NULL</MapInteraction>
            <ProxObject>NULL</ProxObject>
            <ProxLocation>NULL</ProxObject>
       </preconditions>
       <prefunctions>
            <Teleport>NULL</Teleport>
            <Journal>NULL</Journal>
            <Cutscene>NULL</Cutscene>
            <PlaySound>NULL</PlaySound>
            <ChangeSoundtrack>NULL</ChangeSoundtrack>
            <StatusMod>NULL</StatusMod>
       </prefunctions>
       <questtype type="location">Map2,7,4</questtype>
       <Status>inactive</Status>
       <Trigger type="interact">Map2, 8, 7</Trigger>
       <Rewards>
            <gold>NULL</gold>
            <xp>NULL</xp>
            <item>NULL</item>
            <skill>NULL</skill>
       </Rewards>
       <Victory>
            <duration>NULL</duration>
            <experience>NULL</experience>
            <gold>NULL</gold>
            <locations>NULL</locations>
            <enemies>NULL</enemies>
            <NPCinteraction>NULL</NPCinteraction>
            <Tile>NULL</Tile>
            <ItemAquired>NULL</ItemAquired>
            <MapInteraction>NULL</MapInteraction>
            <ProxObject>NULL</ProxObject>
            <ProxLocation>NULL</ProxObject>
       </Victory>
       <Cancel>
            <duration>NULL</duration>
            <experience>NULL</experience>
            <gold>NULL</gold>
            <locations>NULL</locations>
            <enemies>NULL</enemies>
            <NPCinteraction>NULL</NPCinteraction>
            <Tile>NULL</Tile>
            <ItemAquired>NULL</ItemAquired>
            <MapInteraction>NULL</MapInteraction>
            <ProxObject>NULL</ProxObject>
            <ProxLocation>NULL</ProxObject>       
       </Cancel>
       <postfunctions>
            <Teleport>NULL</Teleport>
            <Journal>NULL</Journal>
            <Cutscene>NULL</Cutscene>
            <PlaySound>NULL</PlaySound>
            <ChangeSoundtrack>NULL</ChangeSoundtrack>
            <StatusMod>NULL</StatusMod>
       </postfunctions>
   </STP>
</StoryPoints>